<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216393604532-09a3jetg5of031fkhcnrb4caus7nspnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216393604532-09a3jetg5of031fkhcnrb4caus7nspnp</string>
	<key>API_KEY</key>
	<string>AIzaSyD1j24txTpUAYzvift0BxXEUXfQABQ4rkw</string>
	<key>GCM_SENDER_ID</key>
	<string>216393604532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keskin.TennisFan</string>
	<key>PROJECT_ID</key>
	<string>tennisfan-86595</string>
	<key>STORAGE_BUCKET</key>
	<string>tennisfan-86595.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216393604532:ios:e981ab1e56b761622da6e1</string>
</dict>
</plist>